---
extends: default

rules:
  line-length:
    max: 140
    level: warning
  document-start:
    present: true
  comments:
    min-spaces-from-content: 1
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  indentation:
    spaces: 2
    indent-sequences: true

ignore: |
  .github/
  *.json
